
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: Arial;
    background-color: rgb(206, 205, 205);
    background-size: 100%;
}

input {
    border: none;
    border-bottom: solid 1px black;
}

select{  
    border: solid 1px black;
}

@media print{
    .no-print, .no-print * {
        display: none!important;
    }
}

button{
    position: relative;
    text-align: center;
    background-color: rgb(160, 21, 21) ;
    top: 20px;
    border: none;
    width: 80px;
    height: 22px;
    color: white;
    font-size: medium;
    border-radius: 10px;
    font-weight: bolder;
}
button:hover{
    background-color: rgba(199, 52, 52, 0.925);
    font-weight: bolder;
}

